USE [master]
GO
/****** Object:  Database [FarmaTEC]    Script Date: 10/1/2019 11:12:42 AM ******/
CREATE DATABASE [FarmaTEC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FarmaTEC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FarmaTEC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FarmaTEC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FarmaTEC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FarmaTEC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FarmaTEC]
GO
/****** Object:  UserDefinedTableType [dbo].[ListaDeCantidades]    Script Date: 10/1/2019 11:12:42 AM ******/
CREATE TYPE [dbo].[ListaDeCantidades] AS TABLE(
	[Idx] [int] IDENTITY(1,1) NOT NULL,
	[CantidadDeMedicamento] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ListaDeCodigosDeMedicamentos]    Script Date: 10/1/2019 11:12:42 AM ******/
CREATE TYPE [dbo].[ListaDeCodigosDeMedicamentos] AS TABLE(
	[Idx] [int] IDENTITY(1,1) NOT NULL,
	[CodigoDeMedicamento] [varchar](max) NULL
)
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] NOT NULL,
	[Cedula] [bigint] NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[Apellido1] [varchar](max) NOT NULL,
	[Apellido2] [varchar](max) NOT NULL,
	[Telefono] [bigint] NOT NULL,
	[Tipo] [int] NOT NULL,
	[IdProvincia] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[Apellido1] [varchar](max) NOT NULL,
	[Apellido2] [varchar](max) NOT NULL,
	[Correo] [varchar](max) NOT NULL,
	[Contraseña] [varchar](max) NOT NULL,
	[Tipo] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdFarmacia] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Farmacia]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Farmacia](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[CedJuridica] [bigint] NOT NULL,
	[Ubicacion] [geography] NOT NULL,
	[Telefono] [bigint] NOT NULL,
	[Correo] [varchar](max) NOT NULL,
	[Horario] [varchar](max) NOT NULL,
	[TotalRecaudado] [money] NOT NULL,
	[IdProvincia] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FarmaciaXMedicamento]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FarmaciaXMedicamento](
	[IdFarmacia] [int] NOT NULL,
	[IdMedicamento] [int] NOT NULL,
	[Stock] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicamento]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicamento](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[Descripcion] [varchar](max) NOT NULL,
	[DosisNinos] [varchar](max) NOT NULL,
	[DosisAdultos] [varchar](max) NOT NULL,
	[EfectosSecundarios] [varchar](max) NOT NULL,
	[Foto] [varbinary](max) NOT NULL,
	[Precio] [money] NOT NULL,
	[CodigoDeMedicamento] [varchar](max) NOT NULL,
	[Tipo] [varchar](max) NOT NULL,
	[IdMarca] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[Id] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Estado] [int] NOT NULL,
	[Monto] [money] NOT NULL,
	[CodigoPedido] [varchar](max) NOT NULL,
	[Tipo] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdFarmacia] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoXMedicamento]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoXMedicamento](
	[Cantidad] [int] NOT NULL,
	[IdPedido] [int] NOT NULL,
	[IdMedicamento] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [U_Cedula]    Script Date: 10/1/2019 11:12:42 AM ******/
CREATE NONCLUSTERED INDEX [U_Cedula] ON [dbo].[Cliente]
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_Id]    Script Date: 10/1/2019 11:12:42 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_Id] ON [dbo].[Cliente]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_Correo]    Script Date: 10/1/2019 11:12:42 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_Correo] ON [dbo].[Empleado]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_Id]    Script Date: 10/1/2019 11:12:42 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_Id] ON [dbo].[Empleado]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_CedJuridica]    Script Date: 10/1/2019 11:12:42 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_CedJuridica] ON [dbo].[Farmacia]
(
	[CedJuridica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_Id]    Script Date: 10/1/2019 11:12:42 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_Id] ON [dbo].[Farmacia]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_Id]    Script Date: 10/1/2019 11:12:42 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_Id] ON [dbo].[Marca]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_Id]    Script Date: 10/1/2019 11:12:42 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_Id] ON [dbo].[Medicamento]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_Id]    Script Date: 10/1/2019 11:12:42 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_Id] ON [dbo].[Pedido]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_Id]    Script Date: 10/1/2019 11:12:42 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_Id] ON [dbo].[Provincia]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Farmacia] FOREIGN KEY([IdFarmacia])
REFERENCES [dbo].[Farmacia] ([Id])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Farmacia]
GO
ALTER TABLE [dbo].[Farmacia]  WITH CHECK ADD  CONSTRAINT [FK_Farmacia_Provincia] FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[Provincia] ([Id])
GO
ALTER TABLE [dbo].[Farmacia] CHECK CONSTRAINT [FK_Farmacia_Provincia]
GO
ALTER TABLE [dbo].[FarmaciaXMedicamento]  WITH CHECK ADD  CONSTRAINT [FK_FarmaciaXMedicamento_Farmacia] FOREIGN KEY([IdFarmacia])
REFERENCES [dbo].[Farmacia] ([Id])
GO
ALTER TABLE [dbo].[FarmaciaXMedicamento] CHECK CONSTRAINT [FK_FarmaciaXMedicamento_Farmacia]
GO
ALTER TABLE [dbo].[FarmaciaXMedicamento]  WITH CHECK ADD  CONSTRAINT [FK_FarmaciaXMedicamento_Medicamento] FOREIGN KEY([IdMedicamento])
REFERENCES [dbo].[Medicamento] ([Id])
GO
ALTER TABLE [dbo].[FarmaciaXMedicamento] CHECK CONSTRAINT [FK_FarmaciaXMedicamento_Medicamento]
GO
ALTER TABLE [dbo].[Medicamento]  WITH CHECK ADD  CONSTRAINT [FK_Medicamento_Marca] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marca] ([Id])
GO
ALTER TABLE [dbo].[Medicamento] CHECK CONSTRAINT [FK_Medicamento_Marca]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Cliente]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Farmacia] FOREIGN KEY([IdFarmacia])
REFERENCES [dbo].[Farmacia] ([Id])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Farmacia]
GO
ALTER TABLE [dbo].[PedidoXMedicamento]  WITH CHECK ADD  CONSTRAINT [FK_PedidoXMedicamento_Medicamento] FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedido] ([Id])
GO
ALTER TABLE [dbo].[PedidoXMedicamento] CHECK CONSTRAINT [FK_PedidoXMedicamento_Medicamento]
GO
ALTER TABLE [dbo].[PedidoXMedicamento]  WITH CHECK ADD  CONSTRAINT [FK_PedidoXMedicamento_Medicamento1] FOREIGN KEY([IdMedicamento])
REFERENCES [dbo].[Medicamento] ([Id])
GO
ALTER TABLE [dbo].[PedidoXMedicamento] CHECK CONSTRAINT [FK_PedidoXMedicamento_Medicamento1]
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_PedidoXMedicamento]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************** DELETE *****************/
/* Eliminar medicamento de pedido */
CREATE PROCEDURE [dbo].[sp_delete_PedidoXMedicamento]
	@CodigoDePedido VARCHAR(MAX),
	@CodigoDeMedicamento VARCHAR(MAX)
AS
BEGIN


	DECLARE @IdPedido INT;
	SET @IdPedido = 0;
	SELECT @IdPedido=Id FROM Pedido WHERE CodigoPedido=@CodigoDePedido
	DECLARE @IdMedicamento INT;
	SET @IdMedicamento = 0;
	SELECT @IdMedicamento=Id FROM Medicamento WHERE CodigoDeMedicamento=@CodigoDeMedicamento
	DELETE FROM PedidoXMedicamento WHERE IdMedicamento=@IdMedicamento AND IdPedido=@IdPedido





END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_CantidadDePedidosEnRango]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Cantida de pedidos en un rango de fechas */
CREATE PROCEDURE [dbo].[sp_get_CantidadDePedidosEnRango]
	@FechaInicial DATE,
	@FechaFinal DATE
AS
BEGIN


	SELECT COUNT(Id) AS CantidadDePedidos FROM Pedido WHERE Fecha<@FechaFinal AND Fecha>@FechaInicial





END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_Cliente]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/** Generales **/
/* Get info Cliente por cédula */
CREATE PROCEDURE [dbo].[sp_get_Cliente]
	@CedulaCliente BIGINT
AS
BEGIN


	SELECT c.Cedula,c.Nombre,c.Apellido1,c.Apellido2,c.Telefono,c.Tipo, p.Nombre AS Cliente 
	FROM Cliente c INNER JOIN Provincia p 
	ON p.Id=c.IdProvincia 
	WHERE Cedula=@CedulaCliente





END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_DineroRecaudadoEnSucursal]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************** GET *****************/

/* Cantidad de dinero recaudado en sucursal */
CREATE PROCEDURE [dbo].[sp_get_DineroRecaudadoEnSucursal]
	@CedJuridica BIGINT
AS
BEGIN


	SELECT TotalRecaudado FROM Farmacia WHERE CedJuridica=@CedJuridica





END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_Empleado]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Obtener info de empleado por correo */
CREATE PROCEDURE [dbo].[sp_get_Empleado]
	@Correo VARCHAR(MAX)
AS
BEGIN


	SELECT Nombre,Apellido1,Apellido2,Tipo,Estado,Correo 
	AS Empleado 
	FROM Empleado
	WHERE Correo=@Correo





END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_Farmacia]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Obtener info de farmacia por CedJuridica */
CREATE PROCEDURE [dbo].[sp_get_Farmacia]
	@CedJuridica BIGINT
AS
BEGIN


	SELECT Nombre,CedJuridica, Ubicacion,Telefono,Correo,Horario,TotalRecaudado
	FROM Farmacia
	WHERE CedJuridica=@CedJuridica





END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_MontoEnFarmaciaSegunTipoDePedido]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Monto recaudado en una sucursal con x tipo de pedido */
CREATE PROCEDURE [dbo].[sp_get_MontoEnFarmaciaSegunTipoDePedido]
	@CedJuridica BIGINT,
	@Tipo INT
AS
BEGIN
	SELECT SUM(p.Monto) FROM Pedido p INNER JOIN Farmacia f ON f.Id=p.IdFarmacia WHERE f.CedJuridica=@CedJuridica AND p.Tipo=@Tipo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_MontoEnFarmaciaSegunTipoDePedidoEnRango]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_MontoEnFarmaciaSegunTipoDePedidoEnRango]
	@FechaInicial DATE,
	@FechaFinal DATE,
	@CedJuridica BIGINT,
	@Tipo INT
AS
BEGIN
	SELECT SUM(p.Monto) AS Monto 
	FROM Pedido p INNER JOIN Farmacia f ON f.Id=p.IdFarmacia 
	WHERE f.CedJuridica=@CedJuridica AND p.Tipo=@Tipo AND p.Fecha>@FechaInicial AND p.Fecha<@FechaFinal;

END

GO
/****** Object:  StoredProcedure [dbo].[sp_get_MontoEnSucursalXRango]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_MontoEnSucursalXRango]
	@FechaInicial DATE,
	@FechaFinal DATE,
	@CedJuridica INT
AS
BEGIN
	SELECT SUM(p.Monto) 
	FROM Farmacia f INNER JOIN Pedido p ON p.IdFarmacia=f.Id
	WHERE p.Fecha<@FechaFinal AND p.Fecha>@FechaInicial AND f.CedJuridica=@CedJuridica
END

GO
/****** Object:  StoredProcedure [dbo].[sp_get_MontoGeneral]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Obtener Total General */
CREATE PROCEDURE [dbo].[sp_get_MontoGeneral]
AS
BEGIN


	SELECT SUM(TotalRecaudado) 
	AS TotalGeneral
	FROM Farmacia





END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_MontoParaTipoDePedido]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Monto de pedidos en un rango específico segun el tipo  */
CREATE PROCEDURE [dbo].[sp_get_MontoParaTipoDePedido]
	@FechaInicial DATE,
	@FechaFinal DATE,
	@Tipo INT
AS
BEGIN
	SELECT Monto FROM Pedido WHERE Fecha<@FechaFinal AND Fecha>@FechaInicial AND Tipo=@Tipo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_MontoParaTipoDePedidoXSucursal]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Monto de pedidos en un rango específico segun el tipo x sucursal  */
CREATE PROCEDURE [dbo].[sp_get_MontoParaTipoDePedidoXSucursal] /**************** NEW PROC ************************/
	@FechaInicial DATE,
	@FechaFinal DATE,
	@Tipo INT,
	@CedJuridica BIGINT
AS
BEGIN
	SELECT p.Monto FROM Pedido p INNER JOIN Farmacia f ON p.IdFarmacia=f.Id WHERE p.Fecha<@FechaFinal AND p.Fecha>@FechaInicial AND f.CedJuridica=@CedJuridica 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_MontoPromedioXCadaClienteEnRango]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Monto promedio pagado por cada cliente en rango */
CREATE PROCEDURE [dbo].[sp_get_MontoPromedioXCadaClienteEnRango]
	@FechaInicial DATE,
	@FechaFinal DATE
AS
BEGIN


	DECLARE @PromedioXCliente TABLE(Promedio FLOAT, IdCliente INT);
	INSERT INTO @PromedioXCliente
		SELECT AVG(Monto), IdCliente FROM Pedido WHERE Fecha<@FechaFinal AND Fecha>@FechaInicial GROUP BY IdCliente WITH ROLLUP
	SELECT c.Nombre, c.Apellido1, c.Apellido2,pxc.Promedio AS InfoCliente FROM Cliente c INNER JOIN @PromedioXCliente pxc ON pxc.IdCliente=c.Id





END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_MontoPromedioXClientesEnRango]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Monto promedio pagado por todos los clientes en rango */
CREATE PROCEDURE [dbo].[sp_get_MontoPromedioXClientesEnRango]
	@FechaInicial DATE,
	@FechaFinal DATE
AS
BEGIN


	SELECT AVG(Monto) AS Promedio FROM Pedido WHERE Fecha<=@FechaFinal AND Fecha>=@FechaInicial





END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_Pedido]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Obtener full info de pedido por Código de pedido */
CREATE PROCEDURE [dbo].[sp_get_Pedido]
	@CodigoDePedido VARCHAR(MAX)
AS
BEGIN


	SELECT f.Nombre,f.CedJuridica,p.Fecha,p.Estado,p.Monto,p.CodigoPedido,p.Tipo,c.Nombre,c.Apellido1,c.Apellido2,c.Cedula 
	AS InfoPedido
	FROM Pedido p 
	INNER JOIN Farmacia f ON p.IdFarmacia=f.Id
	INNER JOIN Cliente c ON p.IdCliente=c.Id
	WHERE p.CodigoPedido=@CodigoDePedido





END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_PedidosDeCliente]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_PedidosDeCliente]   /*************** NEW PROC *********************/
	@Cedula INT
AS
BEGIN
BEGIN TRANSACTION

	SELECT p.CodigoPedido, p.Estado, p.Tipo, p.Monto 
	FROM Pedido p INNER JOIN Cliente c
	ON p.IdCliente=c.Id
	WHERE c.Cedula=@Cedula





END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_PedidosEnRango]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Pedidos en un rango de fechas */
CREATE PROCEDURE [dbo].[sp_get_PedidosEnRango]
	@FechaInicial DATE,
	@FechaFinal DATE
AS
BEGIN
	SELECT Fecha,Estado,Monto,Tipo,IdCliente,IdFarmacia FROM Pedido WHERE Fecha<@FechaFinal AND Fecha>@FechaInicial
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_PedidosXClienteEnRango]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Pedidos por cliente en un rango de fechas */
CREATE PROCEDURE [dbo].[sp_get_PedidosXClienteEnRango]
	@FechaInicial DATE,
	@FechaFinal DATE,
	@CedulaCliente INT
AS
BEGIN


	SELECT p.CodigoPedido,p.Fecha,p.Estado,p.Monto,p.Tipo,c.Nombre,c.Apellido1,c.Apellido2,c.Cedula,f.Nombre
		FROM Pedido p 
		INNER JOIN Cliente c ON p.IdCliente=c.Id
		INNER JOIN Farmacia f ON p.IdFarmacia=f.Id
		WHERE P.Fecha<=@FechaFinal AND p.Fecha>=@FechaInicial AND c.Cedula=@CedulaCliente





END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_TopClientes]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Top 3 Mejores Clientes */
CREATE PROCEDURE [dbo].[sp_get_TopClientes]
	@FechaInicial DATE,
	@FechaFinal DATE
AS
BEGIN


	DECLARE @PromedioXCliente TABLE(Promedio FLOAT, IdCliente INT);
	INSERT INTO @PromedioXCliente
	SELECT AVG(Monto), IdCliente FROM Pedido WHERE Fecha<@FechaFinal AND Fecha>@FechaInicial GROUP BY IdCliente WITH ROLLUP
	SELECT TOP 3 c.Nombre, c.Apellido1, c.Apellido2,c.Cedula,pxc.Promedio AS InfoCliente 
	FROM Cliente c INNER JOIN @PromedioXCliente pxc 
	ON pxc.IdCliente=c.Id 
	ORDER BY Promedio





END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_TopClientesXSucursalEnRango]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_TopClientesXSucursalEnRango]
	@FechaInicial DATE,
	@FechaFinal DATE,
	@CedJuridica BIGINT
AS
BEGIN
	DECLARE @TotalXCliente TABLE(CantidadDePedidos FLOAT, IdCliente INT);
	
	INSERT INTO @TotalXCliente
	SELECT COUNT(Monto), IdCliente 
	FROM Pedido p 
	INNER JOIN Farmacia f ON p.IdFarmacia=f.Id 
	WHERE p.Fecha<@FechaFinal AND p.Fecha>@FechaInicial AND f.CedJuridica=@CedJuridica 
	GROUP BY IdCliente 
	
	SELECT TOP 3 c.Nombre, c.Apellido1, c.Apellido2, c.Tipo, txc.CantidadDePedidos
	FROM Cliente c INNER JOIN @TotalXCliente txc 
	ON txc.IdCliente=c.Id 
	ORDER BY txc.CantidadDePedidos
END

GO
/****** Object:  StoredProcedure [dbo].[sp_get_TotalClientes]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Obtener total de clientes */
CREATE PROCEDURE [dbo].[sp_get_TotalClientes]
AS
BEGIN


	SELECT COUNT(Id) 
	AS CantidadDeClientes
	FROM Cliente





END
GO
/****** Object:  StoredProcedure [dbo].[sp_getall_clientes]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getall_clientes]
AS
BEGIN
	SELECT Nombre, Apellido1, Apellido2, Tipo FROM [dbo].Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getid_Cliente]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_getid_Cliente]
AS
BEGIN
	DECLARE @ID INT
	SELECT @ID = COUNT(*) FROM Cliente
	RETURN @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getid_Empleado]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_getid_Empleado]
AS
BEGIN
	DECLARE @ID INT
	SELECT @ID = COUNT(*) FROM Empleado
	RETURN @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getid_Farmacia]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************** GET ID CENTRAL ****************/
CREATE PROCEDURE [dbo].[sp_getid_Farmacia]
AS
BEGIN
	DECLARE @ID INT
	SELECT @ID = COUNT(*) FROM Farmacia
	RETURN @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getid_Marca]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_getid_Marca]
AS
BEGIN
	DECLARE @ID INT
	SELECT @ID = COUNT(*) FROM Marca
	RETURN @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getid_Medicamento]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_getid_Medicamento]
AS
BEGIN
	DECLARE @ID INT
	SELECT @ID = COUNT(*) FROM Medicamento
	RETURN @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getid_Pedido]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_getid_Pedido]
AS
BEGIN
	DECLARE @ID INT
	SELECT @ID = COUNT(*) FROM Pedido
	RETURN @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getid_Provincia]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_getid_Provincia]
AS
BEGIN
	DECLARE @ID INT
	SELECT @ID = COUNT(*) FROM Provincia
	RETURN @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_push_Cliente]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Cliente */
CREATE PROCEDURE [dbo].[sp_push_Cliente]
	@Cedula BIGINT,
	@Nombre VARCHAR(MAX),
	@Apellido1 VARCHAR(MAX),
	@Apellido2 VARCHAR(MAX),
	@Telefono BIGINT,
	@Tipo INT,
	@Provincia VARCHAR(MAX)
AS
BEGIN


	DECLARE @ID INT
	EXECUTE @ID = dbo.sp_getid_Cliente
	DECLARE @IdProvincia INT;
	SET @IdProvincia = 1;
	SELECT @IdProvincia=Id FROM Provincia WHERE Nombre=@Provincia;
	INSERT INTO Cliente(Id,Cedula,Nombre,Apellido1,Apellido2,Telefono,Tipo,IdProvincia)
	VALUES (@ID,@Cedula,@Nombre,@Apellido1,@Apellido2,@Telefono,@Tipo,@IdProvincia)





END
GO
/****** Object:  StoredProcedure [dbo].[sp_push_Empleado]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Empleado */
CREATE PROCEDURE [dbo].[sp_push_Empleado]
	@Nombre VARCHAR(MAX),
	@Apellido1 VARCHAR(MAX),
	@Apellido2 VARCHAR(MAX),
	@Tipo INT,
	@Estado BIT,
	@Correo VARCHAR(MAX),
	@Contraseña VARCHAR(MAX),
	@CedJurídica BIGINT
AS
BEGIN


	DECLARE @ID INT
	EXECUTE @ID = dbo.sp_getid_Empleado
	DECLARE @IdFarmacia INT;
	SET @IdFarmacia=0;
	SELECT @IdFarmacia=Id FROM Farmacia WHERE CedJuridica=@CedJurídica;
	PRINT (@IdFarmacia);
	INSERT INTO Empleado(Id, Nombre,Apellido1,Apellido2,Tipo,Estado,Correo,Contraseña,IdFarmacia)  
	VALUES (@ID,@Nombre,@Apellido1,@Apellido2,@Tipo,@Estado,@Correo,@Contraseña,@IdFarmacia)





END
GO
/****** Object:  StoredProcedure [dbo].[sp_push_Farmacia]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* Farmacia*/
CREATE PROCEDURE [dbo].[sp_push_Farmacia]
	@Nombre VARCHAR(MAX),
	@CedJuridica BIGINT,
	@PuntoA VARCHAR(MAX),
	@PuntoB VARCHAR(MAX),
	@Telefono BIGINT,
	@Correo VARCHAR(MAX),
	@Horario VARCHAR(MAX),
	@TotalRecaudado MONEY,
	@Provincia VARCHAR(MAX)
AS
BEGIN


	DECLARE @ID INT;
	EXECUTE @ID = dbo.sp_getid_Farmacia
	DECLARE @Ubicacion geography;
	SET @Ubicacion = geography::Point(@PuntoA, @PuntoB, '4326');
	DECLARE @IdProvincia INT;
	SET @IdProvincia=0;
	SELECT @IdProvincia=Id FROM Provincia WHERE Nombre=@Provincia;
	INSERT INTO Farmacia (Id, Nombre,CedJuridica,Ubicacion,Telefono,Correo,Horario,TotalRecaudado,IdProvincia)  
	VALUES (@ID,@Nombre,@CedJuridica,@Ubicacion,@Telefono,@Correo,@Horario,@TotalRecaudado,@IdProvincia)




END
GO
/****** Object:  StoredProcedure [dbo].[sp_push_FarmaciaXMedicamento]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_push_FarmaciaXMedicamento]
	@CedJuridica BIGINT,
	@CodigoDeMedicamento VARCHAR(MAX),
	@Stock INT
AS
BEGIN


	DECLARE @IdFarmacia INT;
	SET @IdFarmacia = 0;
	SELECT @IdFarmacia=Id FROM Farmacia WHERE CedJuridica=@CedJuridica
	DECLARE @IdMedicamento INT;
	SET @IdMedicamento = 0;
	SELECT @IdMedicamento=Id FROM Medicamento WHERE CodigoDeMedicamento=@CodigoDeMedicamento
	INSERT INTO FarmaciaXMedicamento(IdFarmacia,IdMedicamento,Stock)
	VALUES (@IdFarmacia,@IdMedicamento,@Stock)





END
GO
/****** Object:  StoredProcedure [dbo].[sp_push_FullPedido]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_push_FullPedido]  
	@Fecha DATE,
	@Estado INT,
	@Monto MONEY,
	@CodigoPedido VARCHAR(MAX),
	@Tipo INT,
	@CedulaCliente BIGINT,
	@CedJuridica BIGINT,
	@StringCodigoDeMedicamentos VARCHAR(MAX),
	@StringCantidades VARCHAR(MAX)
AS
BEGIN
	DECLARE @CheckValue INT;
	SELECT @CheckValue=COUNT(1)
	FROM Pedido
	WHERE CodigoPedido = @CodigoPedido;
	PRINT(@CheckValue);
	IF @CheckValue=0
		BEGIN
			DECLARE @ListaCodigoDeMedicamentos ListaDeCodigosDeMedicamentos;
			DECLARE @delimiter VARCHAR(MAX)= ',';
			DECLARE @V VARCHAR(MAX);
			WHILE CHARINDEX(@delimiter,@StringCodigoDeMedicamentos) <> 0
				BEGIN
					SET @V = substring(@StringCodigoDeMedicamentos,1,charindex(@delimiter,@StringCodigoDeMedicamentos)-1);
					INSERT INTO @ListaCodigoDeMedicamentos(CodigoDeMedicamento) VALUES(@V);
					SET @StringCodigoDeMedicamentos = substring(@StringCodigoDeMedicamentos,charindex(@delimiter,@StringCodigoDeMedicamentos)+1,len(@StringCodigoDeMedicamentos));
				END
			DECLARE @ListaDeCantidades ListaDeCantidades;
			WHILE CHARINDEX(@delimiter,@StringCantidades) <> 0
				BEGIN
					SET @V = substring(@StringCantidades,1,charindex(@delimiter,@StringCantidades)-1);
					INSERT INTO @ListaDeCantidades(CantidadDeMedicamento) VALUES(@V);
					SET @StringCantidades = substring(@StringCantidades,charindex(@delimiter,@StringCantidades)+1,len(@StringCantidades));
				END
			EXECUTE sp_push_Pedido @Fecha,@Estado,@Monto,@Tipo,@CedulaCliente,@CedJuridica,@CodigoPedido;
			DECLARE @i INT;
			SET @i=1;
			DECLARE @Cantidad INT;
			DECLARE @CodigoDeMedicamento VARCHAR(MAX);
			DECLARE @NumeroDeMedicamentos INT;
			SELECT @NumeroDeMedicamentos=MAX(Idx) FROM @ListaCodigoDeMedicamentos;
			SELECT @NumeroDeMedicamentos=MAX(Idx) FROM @ListaDeCantidades;
			PRINT(@NumeroDeMedicamentos);
			WHILE (@i <= @NumeroDeMedicamentos)
			BEGIN
				SELECT @Cantidad=CantidadDeMedicamento FROM @ListaDeCantidades WHERE Idx=@i;
				SELECT @CodigoDeMedicamento=CodigoDeMedicamento FROM @ListaCodigoDeMedicamentos WHERE Idx=@i;
				EXECUTE sp_push_PedidoXMedicamento @Cantidad,@CodigoPedido,@CodigoDeMedicamento,@CedJuridica;
				SET @i=@i+1;
		END
	END
END

GO
/****** Object:  StoredProcedure [dbo].[sp_push_Marca]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************** PUSH ******************/

/* Marca */
CREATE PROCEDURE [dbo].[sp_push_Marca]
	@Nombre VARCHAR(MAX)
AS
BEGIN
	DECLARE @ID INT
	EXECUTE @ID = dbo.sp_getid_Marca
	INSERT INTO Marca(Id, Nombre) VALUES (@ID, @Nombre)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_push_Medicamento]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_push_Medicamento]
	@Nombre VARCHAR(MAX),
	@CodigoDeMedicamento VARCHAR(MAX),
	@Descripcion VARCHAR(MAX),
	@DosisNinos VARCHAR(MAX),
	@DosisAdultos VARCHAR(MAX),
	@EfectosSecundarios VARCHAR(MAX),
	@Foto VARBINARY(MAX),
	@Precio MONEY,
	@Tipo VARCHAR(MAX), 
	@Marca VARCHAR(MAX),
	@CedJuridica BIGINT,
	@Stock INT
AS
BEGIN
	DECLARE @CheckValue INT;
	SELECT @CheckValue=COUNT(1)
	FROM Medicamento
	WHERE CodigoDeMedicamento = @CodigoDeMedicamento;
	PRINT(@CheckValue);
	IF @CheckValue=0
		BEGIN 
			DECLARE @ID INT
			EXECUTE @ID = dbo.sp_getid_Medicamento
			DECLARE @IdMarca INT;
			SET @IdMarca = 1;
			SELECT @IdMarca=Id FROM Marca WHERE Nombre=@Marca;
			INSERT INTO Medicamento(Id, Nombre,CodigoDeMedicamento,Descripcion,DosisNinos,DosisAdultos,EfectosSecundarios,Foto,Precio,Tipo,IdMarca)
			VALUES (@ID,@Nombre,@CodigoDeMedicamento,@Descripcion,@DosisNinos,@DosisAdultos,@EfectosSecundarios,@Foto,@Precio,@Tipo,@IdMarca)
		END 
	
	DECLARE @IdMedicamento INT;
	SELECT @IdMedicamento=Id FROM Medicamento WHERE CodigoDeMedicamento=@CodigoDeMedicamento;
	DECLARE @IdFarmacia INT;
	SELECT @IdFarmacia=Id FROM Farmacia WHERE CedJuridica=@CedJuridica;
	SELECT @CheckValue=COUNT(1)
	FROM FarmaciaXMedicamento
	WHERE IdFarmacia=@IdFarmacia AND IdMedicamento=@IdMedicamento;
	PRINT(@CheckValue);
	IF @CheckValue=0
		BEGIN
			INSERT INTO FarmaciaXMedicamento(IdFarmacia,IdMedicamento,Stock) VALUES (@IdFarmacia,@IdMedicamento,@Stock);
		END
	ELSE
		BEGIN
			UPDATE FarmaciaXMedicamento SET Stock=Stock+@Stock WHERE IdFarmacia=@IdFarmacia AND IdMedicamento=@IdMedicamento
		END
END

GO
/****** Object:  StoredProcedure [dbo].[sp_push_Pedido]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Pedido */
CREATE PROCEDURE [dbo].[sp_push_Pedido]
	@Fecha DATE,
	@Estado INT,
	@Monto MONEY,
	@Tipo INT,
	@CedulaCliente BIGINT,
	@CedJuridica BIGINT,
	@CodigoPedido VARCHAR(MAX)
AS
BEGIN
	DECLARE @ID INT
	EXECUTE @ID = dbo.sp_getid_Pedido
	DECLARE @IdFarmacia INT;
	SET @IdFarmacia = 0;
	SELECT @IdFarmacia=Id FROM Farmacia WHERE CedJuridica=@CedJuridica;
	DECLARE @IdCliente INT;
	SET @IdCliente = 0;
	SELECT @IdCliente=Id FROM Cliente WHERE Cedula=@CedulaCliente;
	INSERT INTO Pedido(Id,Fecha,Estado,Monto,CodigoPedido,Tipo,IdCliente,IdFarmacia)
	VALUES (@ID,@Fecha,@Estado,@Monto,@CodigoPedido,@Tipo,@IdCliente,@IdFarmacia);
	EXECUTE sp_update_MontoFarmacia @CedJuridica, @Monto

END
GO
/****** Object:  StoredProcedure [dbo].[sp_push_PedidoXMedicamento]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* PedidoXMedicamento*/
CREATE PROCEDURE [dbo].[sp_push_PedidoXMedicamento]
	@Cantidad INT,
	@CodigoPedido VARCHAR(MAX),
	@CodigoDeMedicamento VARCHAR(MAX),
	@CedJuridicaFarmacia BIGINT
AS
BEGIN


	DECLARE @Stock INT;
	SET @Stock = 0;
	SELECT @Stock=fxm.Stock FROM FarmaciaXMedicamento fxm INNER JOIN Farmacia f ON f.CedJuridica=@CedJuridicaFarmacia WHERE fxm.IdFarmacia=f.Id;
	IF @Stock>=@Cantidad
	BEGIN
		DECLARE @IdMedicamento INT;
		SET @IdMedicamento = 0;
		SELECT @IdMedicamento=Id FROM Medicamento WHERE CodigoDeMedicamento=@CodigoDeMedicamento;
		DECLARE @IdPedido INT;
		SET @IdPedido = 0;
		SELECT @IdPedido=Id FROM Pedido WHERE CodigoPedido=@CodigoPedido;
		INSERT INTO PedidoXMedicamento(Cantidad,IdPedido,IdMedicamento)
			VALUES (@Cantidad, @IdPedido,@IdMedicamento);
		UPDATE FarmaciaXMedicamento 
			SET Stock=Stock-@Cantidad 
			FROM Farmacia f INNER JOIN FarmaciaXMedicamento fxm ON f.Id=fxm.IdFarmacia 
			WHERE f.CedJuridica=@CedJuridicaFarmacia AND IdMedicamento=@IdMedicamento
	END





END
GO
/****** Object:  StoredProcedure [dbo].[sp_push_Provincia]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Provincia */
CREATE PROCEDURE [dbo].[sp_push_Provincia]
	@Nombre VARCHAR(MAX)
AS
BEGIN


	DECLARE @ID INT;
	EXECUTE @ID = dbo.sp_getid_Provincia
	INSERT INTO Provincia(Id, Nombre) VALUES (@ID, @Nombre)





END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_CantidadDeMedicamentoEnPedido]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Actualizar cantidad de X medicamento en el pedido*/
CREATE PROCEDURE [dbo].[sp_update_CantidadDeMedicamentoEnPedido]
	@CodigoDePedido VARCHAR(MAX),
	@CodigoDeMedicamento VARCHAR(MAX),
	@Cantidad INT
AS
BEGIN


	DECLARE @IdPedido INT;
	SET @IdPedido = 0;
	SELECT @IdPedido=Id FROM Pedido WHERE CodigoPedido=@CodigoDePedido
	DECLARE @IdMedicamento INT;
	SET @IdMedicamento = 0;
	SELECT @IdMedicamento=Id FROM Medicamento WHERE CodigoDeMedicamento=@CodigoDeMedicamento
	UPDATE PedidoXMedicamento SET Cantidad=@Cantidad WHERE IdPedido=@IdPedido AND IdMedicamento=@IdMedicamento





END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_EstadoPedido]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Cambiar estado del pedido */
CREATE PROCEDURE [dbo].[sp_update_EstadoPedido]
	@CodigoPedido VARCHAR(MAX),
	@Estado INT
AS
BEGIN

	
	UPDATE Pedido SET Estado=@Estado WHERE CodigoPedido=@CodigoPedido
	IF @Estado=2
	BEGIN 
		DECLARE @IdFarmacia INT;
		DECLARE @Monto MONEY; 
		SELECT @IdFarmacia=f.Id,@Monto=p.Monto FROM Farmacia f INNER JOIN Pedido p ON p.IdFarmacia=f.Id  WHERE p.CodigoPedido=@CodigoPedido;
		UPDATE Farmacia SET TotalRecaudado=TotalRecaudado+@Monto WHERE Id=@IdFarmacia;
	END 





END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_FarmaciaXMedicamento_sin_fk]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Actualizar stock */
CREATE PROCEDURE [dbo].[sp_update_FarmaciaXMedicamento_sin_fk]
	@CedJuridica BIGINT,
	@CodigoDeMedicamento VARCHAR(MAX),
	@Stock INT
AS
BEGIN


	DECLARE @IdFarmacia INT;
	SET @IdFarmacia = 0;
	SELECT @IdFarmacia=Id FROM Farmacia WHERE CedJuridica=@CedJuridica
	DECLARE @IdMedicamento INT;
	SET @IdMedicamento = 0;
	SELECT @IdMedicamento=Id FROM Medicamento WHERE CodigoDeMedicamento=@CodigoDeMedicamento
	UPDATE FarmaciaXMedicamento SET Stock=@Stock WHERE IdFarmacia=@IdFarmacia AND IdMedicamento=@IdMedicamento





END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_MontoFarmacia]    Script Date: 10/1/2019 11:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************** UPDATE *****************/

/* Cambiar monto total recaudado por sucursal */
CREATE PROCEDURE [dbo].[sp_update_MontoFarmacia]
	@CedJuridica BIGINT,
	@Monto MONEY
AS
BEGIN


	DECLARE @IdFarmacia INT;
	SET @IdFarmacia = 0;
	SELECT @IdFarmacia=Id FROM Farmacia WHERE CedJuridica=@CedJuridica
	UPDATE Farmacia SET TotalRecaudado=@Monto WHERE Id=@IdFarmacia



END
GO
USE [master]
GO
